*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #8ae2f8;
    font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
}
.container{
    width: 80%;
    height: auto;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.box-container{
    /* margin-top: 80px; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .box{
    width: 400px;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 20px;
}
.container .box img{
    width: 100%;
    height: 100%;
}
.container .text{
    width: 500px;
    height: 500px;
    position: relative;
    background: #fffffe;
    border-radius: 50px;
    padding-top: 20px;
}
.container .text .title-text{
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;
    height: auto;
    display: block;
    color: #000;
    font-size: 20px;
    align-items: center;
}
.container .text .common-text{
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;
    height: auto;
    display: block;
    color: #000;
    font-size: 16px;
    align-items: center;
}
.container .text .common-text p {
    word-wrap: break-word;
}
.container .text .post{
    padding-top: 20px;
    padding-left: 20px;
}
.container .text .post h2{
    padding-bottom: 5px;
}
.container .text .order{
    padding-top: 20px;
    padding-left: 20px;
}
.order .menu{
    display: flex;
    padding-top: 5px;
}
.order .menu p{
    padding-right: 10px;
}



@media only screen and (max-width: 1100px) {
    .box-container{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
     .box img{
        position: relative;;
        width: 100%;
        border-radius: 45px;
        border: 3px solid #fff;
        box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
    }
    .box h2{
        display: none;
        position: absolute;
        z-index: 2;
    }
    .text{
        margin-top: 20px;
    }
}
 /* Alert JS */

 .alert {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1002;
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin: 0;
  }
    .alert.success {
    background-color: #4CAF50;
    }
  
    .alert.info {
    background-color: #2196F3;
    }
  
    .alert.warning {
    background-color: #ff9800;
    }
  
    .alert.danger {
    background-color: #f44336;
    }
  
  .closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
  }
  
  .closebtn:hover {
  color: black;
  }
/* Table */

table{
    border-collapse: collapse;
    text-align: center;
    align-items: center;
    justify-content: center;
    table-layout: fixed;
}
/* th,tr,td{
    padding-bottom: 5px;
} */
table a{
    text-decoration: none;
    color: #10b0e5;
    padding-left: 5px;
}
.table{
    width: 100%;
    background: #fffffe;
    border-radius: 10px;
    padding: 25px 0;
}
.table-header{
    display: block;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}
.table-body{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}   
 thead{
    height: 60px;
    padding: 5px;
    font-weight: 600;
 }
.table tbody tr {
    font-weight: 400;
    box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
    border-radius: 5px;
}
td img{
    margin-right: 15px;
    height: 55px;
    width: 55px;
    border-radius: 45px;
    border: 3px solid #fff;
    box-shadow: 0 2PX 10PX rgb(0, 0, 0);
}
td{
    max-width: 250px;
    padding: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
td.limited-text {
    display: -webkit-box;
    -webkit-line-clamp: 1; /* set the number of lines to display */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
tbody tr:hover {
    background-color: #8ae2f8;
}
tbody tr:hover a{
    color: #000;
}
th {
    width: 100px;
    background-color: #8ae2f8;
  }

.main-text{
   display: block;
}
.secondary-text{
    display: block;
    font-size: 0.8rem;
    font-weight: 600;
 }
@media only screen and (max-width: 1100px) {
    table{
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
        background-color: #fff;
        border-collapse: collapse;
        overflow-y: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }
  .table{
        padding: 25px;
    }
    th {
        background-color: #ffffff;
    }
    td{
        padding: 5px;
        white-space: normal;
        overflow: none;
        text-overflow: none;
    }
}

/* EditZone */
.edit-form{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}
.edit-form .inform{
    margin: 2px 0;
    font-size: 20px;
    font-weight: 600;
}
.edit-form  form{
    width: 100%;
    height: auto;
}
.edit-form  input[type="text"]{
    border: #000 1px solid;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    padding: 0 10px;
    margin-top: 6px;
    font-size: 18px;
    box-sizing: border-box;
}
.edit-form  label{
    display: block;
    width: 150px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background: #8ae2f8;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px 0;
}
.edit-form  label:hover{
    opacity: 0.8;
}
.edit-form  input[type="file"]{
    display: none;
}
.edit-form  input[type="submit"]{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    background: rgb(27, 200, 235);
    color: rgb(255, 255, 255);
    border: none;
    font-size: 16px;
}
input[type="submit"]:hover{
    opacity: 0.8;
}
.edit-form  img{
    max-width: 60%;
    max-height: 100%;
}
@media only screen and (max-width: 1100px) {
    .edit-form{
        width: 100%;
    }
    .edit-form  label{
        width: 100%;
    }
    .edit-form img{
        max-width: 300px;
        max-height: 80%;
        display: flex;
        margin: 0 auto;
    }
}
 /* Alert JS */

 .alert {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1002;
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin: 0;
  }
    .alert.success {
    background-color: #4CAF50;
    }
  
    .alert.info {
    background-color: #2196F3;
    }
  
    .alert.warning {
    background-color: #ff9800;
    }
  
    .alert.danger {
    background-color: #f44336;
    }
  
  .closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
  }
  
  .closebtn:hover {
  color: black;
  }